body {
	margin: 0;
	padding: 0;
}
nav ul {
	list-style-type: none;
}
nav li {
	display: inline-block;
	margin-right: 10px;
	border-radius: 40%;
	border-style: ridge;
	width: 5%;
	text-align: center;
	padding: 4px;
}

nav li a {
	color: white;
	text-decoration: none;
}

.menu-item1 {
	background-color: #001f3f;
}

.menu-item2 {
	background-color: #808080;
}

.menu-item3 {
	background-color: #00b894;
}

.menu-item4 {
	background-color: #ffb6c1;
}
