body {
	margin: 0;
	padding: 0;
}
nav {
	position: sticky;
}
nav ul {
	list-style-type: none;
}
nav li {
	display: inline-block;
	background-color: #87ceeb;
	margin-right: 10px;
	border-radius: 40%;
	border-style: ridge;
	width: 5%;
	text-align: center;
	padding: 4px;
}

nav li a {
	color: #001f3f;
	text-decoration: none;
}

.article-container {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.article {
	width: 33%;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box;
}

.article img {
	float: left;
	margin-right: 20px;
	width: 150px;
	height: 150px;
}

.article a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: blue;
}
.article a:hover {
	text-decoration: underline;
	color: red;
}
.article p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.article::after {
	clear: left;
}
